.action-form {
  position: absolute;
  top: 50px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  padding: 5px;
  background-color: white;

  .action-form-group {
    padding: 5px;

    label {
      display: block;
      text-align: left;
    }

    input, textarea {
      box-sizing: border-box;
      width: 100%;
      border-radius: 5px;
      border-width: 1px;
      border-style: solid;
      padding: 7px;
      border-color: #888;
      resize: none;
    }

    select {
      padding: 5px;
      border-radius: 5px;
    }
  }
}

.post-text {
  width: 100%;
}