.clearfix {
  clear: both;
}

.not-supported {
  font-size: 1.6em;
  text-align: center;
  display: table;
  height: 100%;
  width: 100%;
  padding-bottom: 50px;

  .emphasize {
    font-size: 1.8em;
    font-weight: 800;
  }

  .wrapper {
    display: table-cell;
    vertical-align: middle;
  }
}

/* Unorganized left overs */
.Toolbar {
  outline: 1px solid #2d4356;
  background-color: #2d4356;
  /*GUS*/
  /*outline: 1px solid #333;*/
  /*background-color: #333;*/

  text-align: right;
}

.AfterSubmit {
  text-align: center;
}
.AfterSubmit-title {
  font-size: 24px;
}

.Authorize {
  text-align: center;
  height: 100%;
  width: 100%;
  padding: 50px 0;
  background-color: white;
}

.Form-submitButton {
  border-width: 0;
  border-radius: 5px;
  font-size: 16px;
  background-color: #F0F1F2;
  color: #999;
  /*color: white;*/
  padding: 7px;
  display: block;
  width: 100%;
}
.Form-submitButton.is-clickable {
  background-color: #3f9fd9;
  color: white;
  cursor: pointer;
}

.skin-Button {
  border-radius: 5px;
  font-size: 16px;
  border: 1px solid #999;
  color: #333;
  background-color: white;
  padding: 7px;
  margin: 5px 15px;
  outline: none;
  cursor: pointer;
}
.skin-Button.is-active {
  background-color: #3f9fd9;
  color: white;
}

.ButtonGroup {
  text-align: center;
}

.ButtonGroup-button {
  display: inline-block;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  /*border-width: 0;*/
}

/*.ButtonGroup-button.is-active {*/
/*background-color: #3f9fd9;*/
/*color: white;*/
/*outline: none;*/
/*}*/

/* vertically and horizontally center */
.LoadingIndicator {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}