.card {
  -webkit-transition: -webkit-transform 0.4s;
  position: relative;
  -webkit-transform-style: preserve-3d;
  -webkit-transform-origin-x: 160px;
  -webkit-transform-origin-y: 141.25px;
  border: 1px solid black;

  background-color: #344a5f;
  /*GUS*/
  /*background-color: #414141;*/

  .frontface, .backface {
    -webkit-backface-visibility: hidden;
    -webkit-transition: opacity 0.4s;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 320px;
    height: 565px;
  }

  .frontface {
    background-color: rgb(52, 74, 95);
    border: 1px solid rgb(52, 74, 95);
  }

  .backface {
    -webkit-transform: rotateY(-180deg);
    background-color: white;
    border: 1px solid black;
  }
}
.card[data-flipped=true] {
  -webkit-animation: away-and-back 0.4s;
  -webkit-animation-fill-mode: forwards;

  .page-nav {
    opacity: 0;
  }

  .frontface {
    opacity: 0;
  }
}
.card[data-unflipped=true] {
  -webkit-animation: back-and-away 0.4s;
  -webkit-animation-fill-mode: forwards;

  .backface {
    opacity: 0;
  }
}

.page-nav {
  -webkit-transition: opacity 0.4s;
  opacity: 1.0;
}

.grid {
  .action {
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
    float: left;
    padding: 10px 20px;
    width: 160px;
    outline: 1px solid #2d4356;
    /*GUS*/
    /*outline: 1px solid #333;*/

    &.is-disabled {
      opacity: .35;
      cursor: not-allowed;
    }

    img {
      height: 100px;
      width: 100px;
      margin: 10px;
      margin-bottom: 0px;
      -webkit-animation: grow 0.4s;
      -webkit-animation-delay: 0.2s;
      -webkit-animation-fill-mode: forwards;
      opacity: 0;
      -webkit-backface-visibility: hidden;
      border-radius: 8px;
    }

    .title {
      color: white;
      -webkit-animation: fadein 0.4s;
      -webkit-animation-delay: 0.2s;
      -webkit-animation-fill-mode: forwards;
      opacity: 0;
      -webkit-backface-visibility: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      text-align: center;
    }
  }
}
