input, textarea, button, label, select, option, div, span, section, article {
  margin: 0px;
  padding: 0px;
  font-family: initial;
  border: initial;
  letter-spacing: initial;
  text-transform: none;
  font-size: initial;
  font-weight: initial;
  box-shadow: initial;
  background: initial;
  color: initial;
  line-height: initial;
  text-align: initial;
}