#chrome-publisher {
  position: fixed;
  top: 0px;
  right: 0px;
  width: 0px;
  height: 0px;
  z-index: 1000;
  overflow: visible;

  @import 'reset';
  @import 'base';
  @import 'sidebar';
  @import 'grid';
  @import 'page-nav';
  @import 'back-nav';
  @import 'action-form';
  @import 'share-with';
  @import 'actions-menu';
  @import 'icons';
}

@import 'fonts';
@import 'animations';